html, body {
    height: 100%;
    margin: 0;
}

body {
    cursor: pointer;
    display: flex;
}

td {
    padding: 0 0.2em;
}

td.selected {
    background-color: black;
    border-radius: 0.2em;
    color: white;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

input.small {
    text-align: right;
    width: 3em;
}

span {
    margin: 1em;
}

ul, div {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 0.2em;
    color: black;
    font-family: sans-serif;
    margin: 1em;
    padding: 0.5em 2em;
}

/* 00-clock-analogue from https://github.com/webondevices/html-css-wizardry/tree/main/07-calc */

:root {
    --second: 1s;
    --minute: calc(var(--second) * 60);
    --hour: calc(var(--minute) * 60);
}

@keyframes rotate {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(1turn);
    }
}

.clock {
    width: 15em;
    height: 15em;
    border-radius: 50%;
    background-color: grey;
    margin: 0;
    padding: 0;
    position: relative;
    transform: rotate(180deg);
}

.hand {
    position: absolute;
    top: 50%;
    left: calc(50% - var(--width) / 2);
    width: var(--width);
    border-radius: calc(var(--width) / 2);
    height: var(--height);
    margin: 0;
    padding: 0;
    background-color: var(--color);
    transform-origin: center 0;
}

.second {
    --width: 3px;
    --height: 47%;
    --color: red;
}

.minute {
    --width: 7px;
    --height: 43%;
    --color: black;
}

.hour {
    --width: 9px;
    --height: 30%;
    --color: #333;
}

.second.hand {
    animation: rotate steps(60) var(--minute) infinite;
}

.minute.hand {
    animation: rotate linear var(--hour) infinite;
}

.hour.hand {
    animation: rotate linear calc(var(--hour) * 12) infinite;
}
